body {
  font-family: American Typewriter, serif;
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: Chalkduster, fantasy;
}

hr {
  border-top: 10px solid blue;
  border-bottom: none;  
  border-left: none;
  border-right: none;

}

#logo {
  background-image: url("./HEADERpic.jpg");
  width: 80%;
  margin: auto;
}

#logo_text {
  width: 60%;
  text-align: left;
  color: white;
  height: 500px;
  padding: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: 'Roboto';
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

#menu li {
  background-color: lightgrey;
  padding: 20px;
  list-style: none;
  border-radius: 15px;
  font-size: 1.4rem;
}

#about-title {
  color: red;
  text-decoration: underline;
  text-align: left;
}

#site_content {
  width: 70%;
  padding-left: 130px;
  text-align: left;
}

.about {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 15px;
}

#footer {
  margin: auto;
  text-align: center;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  margin-top: 20px;
}

.topics div {
  width: 500px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(250, 220, 230, .8);
  border-radius: 15px;
}

.selected_page a {
  font-size: 2rem;
}

#health {
  background-image: url("./students.jpg");
}

.health {
  background-color: rgba(200,200,200,.8);
  padding: 20px;
}
